*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width:100%;
    overflow: hidden;
    margin-bottom:50px;
}
.wrapper{
    width: 1100px;
    display: flex;
    margin: auto;
}
.half-width{
    width: 40%;
}
.text-df{
    color:#F86961;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom:10px;

}
h2{
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom:15px;
}
h3{
    font-size: 18px;
    margin-bottom: 10px;
}
p{
    font-size: 16px;
    margin-bottom:30px;
}
.mb-0{
    margin-bottom: 0px;
}
/*=========End Typhography CSS=========*/
header{
    width:100%;
    display: flex;
    justify-content: flex-end;
    padding: 28px 0px;
}
header nav.main-menu ul{
    display: flex;
}
header nav.main-menu ul li{
    display: flex;
}
header nav.main-menu ul li a{
    padding: 10px 20px;
    color:#000000;
}
/*=======Ending The Menu CSS==============*/
.top-banner{
    background-image: url(shapes/top-banner.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.dream-bg{
    background-image:url("shapes/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.banner{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.banner div.my-avatar img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.banner div.link-btn{
    display: flex;
}
.banner div.link-btn a{
    padding: 15px 20px;
    border-radius: 5px;
    background:#F86961;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    text-transform: inherit;
}
.banner div.hire-btn a{
    padding: 15px 40px;
}
.banner div.link-btn svg{
    width:24px;
    height:24px;
    margin-right:10px;
}
/*===========Ending The Banner CSS========*/
.exp-bg{
    background-image: url(shapes/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0% 80%;
}
.experience-h{
    justify-content: left;
}
.experience-h h1{
    font-size: 30px;
}
.ep-wrap{
    width:1200px;
}
.experience{
    display: flex;
    justify-content: space-between;
    padding:50px 0px;
}
.ep-one, .ep-two{
    box-shadow: 5px 7px 40px grey;
    width:42%;
    padding:35px 25px;
}
.ep-one{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
.ep-two{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
/*============End Experience Section CSS==========*/
.lt-wp-bg{
    background:#F8F9FC;
    padding: 120px 0px;
}
.lt-wp-h{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
.lt-wp-s{
    display: flex;
    justify-content: space-between;
}
.lt-wp-card{
    width:30%;
    background:#ffffff;
    padding:10px;
    border-radius:15px;
    box-shadow: 0px 0px 11px #00000014;
}
.lt-wp-card .fiture-img a img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.lt-wp-card h3{
    margin-top:10px;
}
.lt-wp-card h3 a{
    color:#000000;
}
.lt-wp-card p{
    color:#3d3d3d;
}
/*==========End Latest Work CSS===========*/
.sr-h{
    padding: 30px 0px;
}
.sr-h h1{
    font-size: 30px;
}
.services{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}
.services .sr-card{
    width:27%;
    background: #ecf7fb;
    text-align: center;
    padding: 45px 25px;
    transition:all 0.3s ease;
}
.services .sr-card:hover{
    background: #ffffff;
    box-shadow: 0px 15px 30px rgb(77 87 222 / 30%);
}
.services .sr-card .sr-icon{
    margin-bottom: 35px;
}
.services .sr-card .sr-card-p{
    color:#777777;
    font-size: 13px;
    margin-bottom:10px;
}
/*=======End Services Section CSS Code=========*/
.footer-bg{
    background:#F8F9FC;
    margin-bottom:0;
    padding:50px 0px;
}
footer{
    width:100%;
    text-align: center;
}
footer h4{
    margin-bottom:20px;
}
footer .social-icon{
    display: flex;
    justify-content: center;
}
footer .social-icon li{
    margin: 0px 10px;
}
footer .social-icon li:first-child{
    margin-left:0px;
}
footer .social-icon li:last-child{
    margin-right:0px;
}
footer .social-icon li a img{
    width:64px;
    height:64px;
}
footer p{
    margin: 15px 0px;
}